.vs/
/.vs
obj/
bin/
.vs/Demos/v16/.suo
CRM/bin/
CRM.BLL/bin/
CRM.BLL/obj/
CRM.BLL/bin/*
CRM.BLL/obj/*
CRM.Common/bin/
CRM.Common/obj/
CRM.Common/bin/*
CRM.Common/obj/*
CRM.Common/bin/
CRM.Model/bin/
CRM.Model/bin/*
CRM.Model/Dal/
.vs/CRM/v16/*
.vs/CRM/v16/.suo
.vs/CRM/v16/.suo
*.ide
CRM/obj/Debug/CRM.csproj.FileListAbsolute.txt
.vs/CRM/v16/.suo

