.vs/
obj/
bin/
.vs/Demos/v16/.suo
CRM/bin/
CRM.BLL/bin/
CRM.BLL/obj/
CRM.BLL/bin/*
CRM.BLL/obj/*
CRM.Common/bin/
CRM.Common/obj/
CRM.Common/bin/*
CRM.Common/obj/*
CRM.Common/bin/
CRM.Model/bin/
CRM.Model/bin/*
CRM.Model/Dal/
